/* Webfont: HelveticaNeueLTPro-Cn */@font-face {
    font-family: 'HelveticaNeueLTPro57Cn';
    src: url('HelveticaNeueLTPro-Cn.eot'); /* IE9 Compat Modes */
    src: url('HelveticaNeueLTPro-Cn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('HelveticaNeueLTPro-Cn.woff') format('woff'), /* Modern Browsers */
         url('HelveticaNeueLTPro-Cn.ttf') format('truetype'), /* Safari, Android, iOS */
         url('HelveticaNeueLTPro-Cn.svg#HelveticaNeueLTPro-Cn') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

